body {
    font-family: 'Lexend', sans-serif;
    background-color: #0B1315;
    color: #99A9AD;
    margin: 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#navbar li {
    margin: 0 15px;
}

.nav-item {
    color: #99A9AD;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #FFDE9F;
}

#restaurant-logo {
    width: 50px; 
    height: auto; 
  }

#search-bar {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid #FFDE9F;
    border-radius: 0;
    padding: 5px;
}

#search {
    border: none;
    color: #99A9AD;
    background-color: transparent;
    width: 200px;
    padding: 5px;
    height: 20px; /* Adjust the height as desired */
}

#search-bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px; /* Adjust the width as desired */
    height: 100%; /* Set the height to match the search box */
    background-color: #FFDE9F;
    margin-left: 5px; /* Add some space between the search input and icon */
}

#search-bar img {
    width: 14px; /* Adjust the width as desired */
    height: 14px; /* Adjust the height as desired */
}





/* Home Section */
#home {
    padding: 80px 0;
    text-align: center;
}

#home h1 {
    font-family: 'Elsie', cursive;
    color: #FFDE9F;
    margin-bottom: 20px;
}

.line-separator {
    border: 1px solid #FFDE9F;
    width: 100px;
    margin: 20px auto;
}

#home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dish-img {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

/* About Section */
#about {
    padding: 80px 0;
}

.about-images-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-images {
    flex: 1;
    margin-right: 20px;
}

.about-images img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

.about-content {
    flex: 2;
}

.about-content h2 {
    font-family: 'Elsie', cursive;
    color: #FFDE9F;
    margin-bottom: 20px;
}

.info-box {
    margin-bottom: 20px;
}

.info-box img {
    max-width: 50px;
    height: auto;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column:last-child {
    margin-right: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Navbar */
    #navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    #navbar img {
        margin-bottom: 10px;
    }

    #search-bar {
        margin-top: 10px;
        justify-content: center;
    }

    #search {
        width: auto;
    }

    /* Home Section */
    #home-content {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .dish-img {
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
    }

    /* About Section */
    .about-images {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Footer */
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}
